h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    word-spacing: 10px;
    color: #0c67a8;
}

body {
    background-color: rgb(244, 236, 227);
}

h4 {
    text-align: center;
    font-family: "Lucida Handwriting", cursive;
}